@font-face {
  font-family: "NoticiaText";
  src: url(assets/fonts/Noticia_Text/NoticiaText-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "NoticiaText";
  src: url(assets/fonts/Noticia_Text/NoticiaText-Regular.ttf);
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "NoticiaText";
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #f5f7fa;
}

.header {
  width: 1200px;
  margin: 0 auto;
  background-color: #1e2939;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}

.main-content {
  background-color: #ffffff;
  padding: 105px 90px;
}

.section {
  border-bottom: 1px solid #1e2939;
}

.section-courses {
  border-bottom: 0;
}

.section-title {
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
  transition: 0.5s;
  text-decoration: none;
  color: #ffffff;
}
.nav-link:hover {
  color: #fb6d3a;
}

.about {
  margin-bottom: 40px;
}

.about-name {
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 25px;
}

.about-position {
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}

.description {
  color: #595959;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.code {
  font-size: 16px;
  color: #595959;
}

.work-position {
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}

.organization {
  color: #fb6d3a;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.work-line {
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.period {
  color: #a8a8a8;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.line {
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.work-list {
  padding: 0;
  margin-left: 15px;
}

.work-list-item {
  color: #595959;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.university,
.courses {
  color: #fb6d3a;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}

.specialization {
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
}

.sidebar {
  background-color: #1e2939;
  width: 400px;
}

.profile-logo {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.contacts-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-left: 40px;
}

.contacts,
.skills-list,
.english-list {
  margin-left: 40px;
}

.contacts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.contacts-list-item {
  width: 25%;
  list-style: none;
  color: #fb6d3a;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}

.contacts-list-item-right {
  width: 75%;
  list-style: none;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.contact-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  transition: 0.5s;
  text-decoration: none;
  color: #ffffff;
}

.contact-link:hover {
  color: #fb6d3a;
}

.location {
  color: #ffffff;
}

.skills-list {
  color: #ffffff;
  margin-left: 15px;
}

.english-list {
  color: #ffffff;
  margin-left: 15px;
}

.skill-list-item,
.english-list-item {
  color: #fb6d3a;
}

.skill-list-text,
.english-list-text {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.footer {
  display: grid;
  width: 1200px;
  height: 80px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

  color: white;
  margin: 0 auto;
  background-color: #1e2939;
}

.footer-github {
  position: relative;
  padding-left: 40px;
  margin-left: 80px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  transition: 0.5s;
  text-decoration: none;
  color: #ffffff;
}

.footer-github:hover {
  color: #fb6d3a;
}

.footer-github::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  background-image: url(assets/img/github-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-year {
  justify-self: center;
  font-size: 16px;
}

.footer-rsschool {
  justify-self: end;
  height: 32px;
  margin-right: 80px;
}
