@font-face {
  font-family: "NoticiaText";
  src: url(assets/fonts/Noticia_Text/NoticiaText-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "NoticiaText";
  src: url(assets/fonts/Noticia_Text/NoticiaText-Regular.ttf);
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "NoticiaText";
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F5F7FA;
}

.header {
  width: 1200px;
  margin: 0 auto;
  background-color: #1e3b68;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}

.main-content {
  background-color: #FFFFFF;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 105px 90px;
}

.section {
  border-bottom: 1px solid #1e3b68;
}

.section-courses, {
  border-bottom: 0;
}

.section-title {
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px; 
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
  transition: 0.5s;
  text-decoration: none;
  color: #FFFFFF;
}
.nav-link:hover {
  color: aqua;
}

.about {
  margin-bottom: 40px;
}

.about-name {
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 25px;
}

.about-position {
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}

.description {
  color: #595959;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}


.code {
  font-size: 16px;
  color: #595959;
}

.work-position {
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}

.organization {
  color: #FB6D3A;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.work-line {
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.period {
  color: #A8A8A8;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.line {
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.work-list {
  padding: 0;
  margin-left: 15px;
}

.work-list-item {
  color: #595959;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.university,
.courses {
  color: #FB6D3A;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}

.specialization {
  color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 10px;
}

.sidebar {
  background-color: #1e3b68;
    padding-top: 40px;
    width: 370px;
}

.profile-logo {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  filter: grayscale(0.2) brightness(1.05);
  transition: 0.3s;
}

.contact-list {
}

.list-item {
  list-style: none;
}

.contact-type {
  color: black;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin-right: 20px;
}

.contact-link {
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.5;
}

.english-linc {

}

.footer {
  display: grid;
  width: 1200px;
  height: 80px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  
  color: white;
  margin: 0 auto;
  background-color: #1e3b68;
}

.footer-github {
position: relative;
padding-left: 40px;
margin-left: 80px;
}

.footer-github::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  background-image: url(assets/img/github-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-year {
  justify-self: center;
}

.footer-rsschool {
justify-self: end;
height: 32px;
margin-right: 80px;
}



